{# magic_word.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Diccionario - {{ parent() }}{% endblock %}

{% block body %}
    
    <div class="container mt-5 text-white">

        <h1 class="text-center">Palabra Mágica</h1>
        <p class="text-center mt-3">
            El número mágico <strong class= "display-6">{{ magicNumber }}</strong> está asociado a la palabra mágica: <strong class= "display-5 text-primary">{{ magicWord }}</strong>.
        </p>
        <p class="text-center mt-3">
            Esta palabra te traerá mucha suerte. ¿Quieres conocer su significado?
            <a class="btn btn-primary" href="{{ path('dictionary', {'word': magicWord}) }}">Haz clic aquí <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
        </p>
        <div class="text-center mt-4">
            <a href="{{ path('magic_number') }}" class="btn btn-success btn-lg">Escoger otro número mágico</a>

    </div>

{% endblock %}